<footer class="site-footer" id="footer">
    <div class="row" style="display: flex; padding: 20px;">
      <div class="col-sm-7 col-md-3" style="margin: 2px, 20px,0,20px;">
        <h6>About</h6>
        <p class="text-justify">The Travel Advisor <i>Kathmandu</i> is a web-based system designed to assist tourists in effective trip planning, encompassing cost management, analysis of estimated travel durations, and real-time weather updates. Leveraging Application Programming Interfaces (APIs) and seamless map integration, the platform incorporates Dijkstra's algorithm for optimal routing. Its primary objective is to elevate the overall travel experience by furnishing users with precise and timely information, enabling efficient planning and decision-making. The system, utilizing the Traffic API, seeks to provide real-time updates on traffic conditions, with a specific focus on monitoring traffic density on major roads throughout Nepal. This enhancement aims to bolster the system's capability to deliver accurate and timely travel information.</p>
      </div>
  
      <div class="col-xs-5 col-md-3" style="margin: 20px;">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="/Apple/category/Religious" {% if cat.title == "Religious" %} class="active" {% endif %}>Religious</a></li>
          <li><a href="/Apple/category/HikingTrekking" {% if cat.title == "HikingTrekking" %} class="active" {% endif %}>Hiking&Trekking</a></li>
          <li class="divider"></li>
          <li><a href="/Apple/category/History" {% if cat.title == "History" %} class="active" {% endif %}>Historical</a></li>
          <li><a href="/Apple/category/Picnic" {% if cat.title == "Picnic" %} class="active" {% endif %}>Picinic</a></li>
          <li><a href="/Apple/category/Adventures" {% if cat.title == "Adventures" %} class="active" {% endif %}>Adventures</a></li>
        </ul>
      </div>
  
      <div class="col-xs-6 col-md-3" style="margin: 20px;">
        <h6>Links</h6>
        <ul class="footer-links">
            <li><a href="https://www.facebook.com/National.College.Of.Engineering.Nepal"><i class="fab fa-facebook"></i>Facebook</a></li>
            <li><a href="https://www.instagram.com/bibekarl01/"><i class="fab fa-instagram"></i> Instagram</a></li>
            <li><a href="mailto:bibekaryal717@gmail.com"><i class="fas fa-envelope"></i> Email</a></li>
            <li><a href="https://maps.app.goo.gl/685CwFCQqf1kzrs16"><i class="fas fa-map-marker-alt"></i> Location</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <center><p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by <a href="#">Travel Advisor Kathmandu</a>.</p></center>
        </div>
      </div>
    </div>
  </footer>
  