{% extends 'base.html' %} {% block title %} Destination {% endblock %}
 {% block content %}


  <div class="four">
  <h1><span>Explore More</span> Select <em>Category</em></h1>
  </div>
  <!-- Set up your HTML -->
  <div class="owl-carousel">
    {%for cat in cats%}

    <div
      class="card"
      style="
        margin: 15px !important;
        height: 390px !important;
        width: 380px !important;
        gap: 5px !important;
      "
    >
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="/media/{{cat.image}}" style="width: 400px !important; height: 270px !important" />
      </div>
      <div class="card-content" style="height: 30px; padding-top:15px!important;">
        <span class="card-title activator grey-text text-darken-4"
          ><b>{{cat.title}}</b><i class="material-icons right">more_vert</i></span
        >
        <a href="/Apple/category/{{cat.url}}" class="btn-12" style="text-size-adjust: 10px; color: #000000!important;">See More</a>

      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"
          >{{cat.title}}<i class="material-icons right">close</i></span
        >
        <p>{{ cat.content | truncatewords:10 | safe }}</p>
      </div>
    </div>

    {%endfor%}
  </div>
</div>
<br>
<br>
<br>
<br>

<div class="nine">
  <h1><center>Top Destinations</center><span>with in Kathmandu VALLEY</span></h1>
</div>


<div class="nepal">
  {%for p in posts%}
  <div class="cards">
    <div class="card">
      <div class="card__image">
        <img src="/media/{{p.image}}" alt="" />
      </div>
      <div class="card__content">
        <p class="card__title">{{p.title}}</p>
        <button>
          <svg
            viewBox="0 0 24 24"
            width="15"
            height="15"
            stroke="currentColor"
            stroke-width="2"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="css-i6dzq1"
          >
            <polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon>
          </svg>
          <a href="/Apple/Blog/{{p.url}}" style="color: aliceblue" style="text-size-adjust: 10px;">Explore me </a>
        </button>
      </div>
    </div>
  </div>
  {%endfor%}
  <br>
  <br>
  <div class="container" style="margin-left: 400px;justify-content: center;">
    <!-- pagination elements -->
    <div class="pagination_section" style="margin-top: 25px!important;">
        {% if posts.has_previous %}
        <a href="/Apple/?page={{posts.previous_page_number}}" class="{% if page_number == posts.previous_page_number %}active{% endif %}">
            << Previous
        </a>
        <a href="/Apple/?page=1" class="{% if page_number == 1 %}active{% endif %}">
            First
        </a>
        {% endif %}

        {% for n in totalPagelist %}
        <a href="/Apple/?page={{n}}" title="Algorithm" class="{% if page_number == n %}active{% endif %}">
            {{n}}
        </a>
        {% endfor %}
     

        {% if posts.has_next %}
        <a href="/Apple/?page={{lastpage}}" class="{% if page_number == lastpage %}active{% endif %}">
            Last
        </a>
        <a href="/Apple/?page={{posts.next_page_number}}" class="{% if page_number == posts.next_page_number %}active{% endif %}">
            Next >>
        </a>
        {% endif %}
    </div>
</div>

</div>
</div>

{% endblock %}
